/* fixed images dimension */

.icons img {
    width: 4rem;
}


.profile img {
  width: 20rem;
  border-radius: 40%;
}

footer img {
  width: 4rem;
}
#imga {
  border-radius: 50%;
}

/* body flex */

body {
  display: flex;
  flex-direction: column;
}

/* just for seeing the space */
.grid {
  width: 100%;
  height: 30rem;
}

/* header section */

/* name section */

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.5rem;
  border-bottom: 4px solid black;
  height: 4.5rem;
}

.left {
  width: 20%;
  line-height: 0.3px;
  padding-right: 0.5rem;
  border-right: 4px solid black;
}

.left p {
  font-size: 1.2rem;
}

.surname {
  text-align: center;
}

.portofolio {
  background-color: ;
  text-align: right;
}

/* icons section */

.icons {
  text-align: right;
  width: 58%;
  padding-right: 1rem;
  visibility: hidden;
}

/* nav section */

nav {
  width: 20%;
  padding-left: 0.5rem;
  border-left: 4px solid black;
  display: flex;    
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

nav a {
    text-decoration: none;
    color: black;
}


/* main section */

main {
    display: flex;
    flex-direction: column;
}

#aboutme {
    padding: 2rem 0;
    background-image: url("https://www.freepik.com/free-vector/smooth-white-wave-background_12230268.htm#query=website%20background&position=45&from_view=keyword");
}
#aboutme img {
    float: right;
    padding-left: 2rem;

}

#aboutme article {
    padding: 1rem;
}

/* project section */

#projects {
    margin: 2rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* footer section */

footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: black;
    color: white;
}

footer img {
    border-radius: 20%;
    margin: 0 1rem 0 1rem;
}