/* fixed images dimension */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.icons img {
  width: 4rem;
}

.profile img {
  width: 30%;
  border-radius: 40%;
  box-shadow: 10px 10px 20px black;
  margin-right: 1rem;
}

#imga {
  border-radius: 50%;
}

/* body flex */

body {
  display: flex;
  flex-direction: column;
}

/* just for seeing the space */
.grid {
  width: 100%;
  padding: 2rem 0;
}

/* header section */

/* name section */

header {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  height: auto;
  box-shadow: 0 5px 15px black;
}

/* left section */
.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.5rem;
  border-right: 4px solid black;
}

.left p {
  font-size: 1.2rem;
}

.surname {
  text-align: center;
}

.portofolio {
  text-align: right;
}

/* icons section */

.icons {
  text-align: right;
  width: auto;
  padding: 0.5rem;
}

#imga {
  visibility: hidden;
}

#imgp {
  visibility: hidden;
}

#imgc {
  visibility: hidden;
}

/* nav section */

nav {
  width: 20%;
  padding: 0.5rem;
  border-left: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

/* main section */

main {
  display: flex;
  flex-direction: column;
}

#aboutme {
  box-shadow: 0 5px 15px black;
  margin: 1rem 0;
  padding: 2rem 0;
  background-image: url("https://www.freepik.com/free-vector/smooth-white-wave-background_12230268.htm#query=website%20background&position=45&from_view=keyword");
}

#aboutme h2,
#projects h2 {
  margin-top: 2rem;
  text-align: center;
}

#aboutme img {
  float: right;
  padding-left: 2rem;
}

#aboutme article {
  padding: 1rem;
}

/* project section */

#projects {
  margin: 1rem 0rem;
  padding: 2rem;
  box-shadow: 0 5px 15px black;
}

/* footer section */

footer h2,
#footerimg,
#likes {
  display: inline-block;
  text-align: center;
}
footer {
  display: inline;
  box-shadow: 0 -5px 15px black;
  margin: 1.5rem 0 0 0;
  padding: 2rem;
  box-sizing: content-box;
  width: 100;
}

#footerimg {
  border-radius: 20%;
  margin: 0 1rem 0 1rem;
  padding: 1rem;
  width: 8rem;
}

footer h2 {
  font-size: 1.2rem;
}
#likes {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
}

@media only screen and (max-width: 690px) {
 .icons {
     display: none;
 }

 .left {
     border-right: hidden;
     width: 30%

 }

 nav {
     border-left: hidden;
     flex-flow: row;
     width: 70%;
    justify-content: space-around;
    font-weight: bold;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
 #aboutme img {
     display: none;
 }

    .icons {
     display: none;
 }

 .left {
     border-right: hidden;
     width: 30%

 }

 nav {
     border-left: hidden;
     flex-flow: row;
     width: 70%;
    justify-content: space-around;
    font-weight: bold;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}